body{
    background-color: #1E3163;
    background-image: url(./imgs/bg-t.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

h1{
    margin: 10px;
    color: antiquewhite;
    font-size: 50px;
}

.body-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(200, 200, 200, 0.114);
    box-shadow: 0 8px 32px 0 rgba(177, 179, 203, 0.15);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 80vw;
    height: fit-content;
    padding: 15px;
}
.song-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(200, 200, 200, 0.276);
    box-shadow: 0 8px 32px 0 rgba(177, 179, 203, 0.15);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    width: 530px;
    margin: 10px 0;
}

.info{
    margin: 10px;
    width: 250px;
}

.image{
    margin: 10px;
    width: 200px;
    height: 140px;
}

img{
    padding: 10px;
    border-radius: 15px;
}

.song-name{
    color: rgba(16, 37, 64, 1);
}

.lyrics{
    color: rgb(40, 40, 40);
}

.duration-words{
    color: rgb(0, 33, 77);
}